# УКАЗЫВАЕМ ОСНОВНОЙ ЯЗЫК
*.java linguist-language=Java

# ВАЖНО: Исключаем .md файлы из статистики ЯЗЫКОВ
*.md linguist-documentation
CHANGELOG.md linguist-documentation
README.md linguist-documentation

# Исключаем другие не-кодовые файлы из статистики
*.obj linguist-documentation
*.mtl linguist-documentation
*.png linguist-documentation
*.jpg linguist-documentation
*.jpeg linguist-documentation
*.class linguist-documentation
*.jar linguist-documentation
*.xml linguist-documentation
*.fxml linguist-documentation
*.css linguist-documentation
*.3dscene linguist-documentation
*.pack linguist-documentation
*.idx linguist-documentation

# Служебные файлы (опционально)
.gitattributes linguist-documentation
.gitignore linguist-documentation
*.DS_Store linguist-documentation
